@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

@font-face {
    font-family: "GothamXNarrow Black";
    src: url("https://dgpr.s3.amazonaws.com/landing-pages/seasonal/Backtoschool/css/Gotham/GothamNarrow/GothamXNarrow-Black.woff") format("woff");
}

@font-face {
    font-family: "GothamNarrow Medium";
    src: url("https://dgpr.s3.amazonaws.com/landing-pages/seasonal/Backtoschool/css/Gotham/GothamNarrow/GothamNarrow-Medium.woff") format("woff");
}


@font-face {
    font-family: "Poppins SemiBold";
    src: url("https://dgpr.s3.amazonaws.com/landing-pages/seasonal/Halloween2019/fonts/Poppins-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Medium";
    src: url("https://dgpr.s3.amazonaws.com/landing-pages/seasonal/Backtoschool/css/Gotham/Gotham-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Bold";
    src: url("https://dgpr.s3.amazonaws.com/landing-pages/seasonal/Backtoschool/css/Gotham/Gotham-Bold.otf") format("opentype"),
    url("")format("woff");
}
@font-face {
    font-family: "Gotham Book";
    src: url("https://dgpr.s3.amazonaws.com/landing-pages/seasonal/Backtoschool/css/Gotham/GothamFonts/GothamHTF-Book.woff") format("opentype"),url("https://dgpr.s3.amazonaws.com/landing-pages/seasonal/Backtoschool/css/Gotham/GothamNarrow-Book.woff") format("woff");
}
/*nav edits*/
.panel{
    box-shadow: none;
}
#nav_menu_container .main-sublevelmenu-right{
    left: 135px;
}
/*nav edits end*/

.page-wrapper {
    padding: 0px;
}

.page-header .panel.header {
    background: #f2f2f2 !important;
}

.page-footer .footer_sec h3 {
    font-size: 1.8rem !important;
    ;
}

body {
    font-family: 'Poppins','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.app-page{
    color: #121212;
}
.position-rel {
    position: relative;
}

.w-100 {
    width: 100%;
}

.hero-desktop {}

.hero-live-text {
    position: absolute;
}

.hero-live-text-p1 {
    text-transform: uppercase;
    font-weight: bold;
    /*font-size: 5rem;*/
    top: 35%;
    /*width: 500px;*/
    left: 5%;
    font-family: "GothamXNarrow Black";
    font-weight: bold;
    /*font-size: calc(5rem - 100%)*/
    line-height: 1;
}

.hero-live-text-p1 #line-1 {
    font-size: 7rem;
}

.hero-live-text-p1 #line-2 {
    font-size: 9rem;
}

.hero-live-text-p2 {
    top: 19%;
    right: 3%;
    width: 250px;
    font-family: "GothamNarrow Medium";
    /*font-size: 20px;*/
}
.col-sub-text{
     font-family: "Gotham Bold" ,'Poppins';
     font-weight: bold;
}

.sub-head-text-container {
    font-size: 21px;
    width: 200px;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
}

.sub-head-text-container div {
    vertical-align: middle;
}


.bolded-span {
    /*font-weight: bold;*/
}

.vert-line {
    background: white;
    width: 2px;
    height: 70%;
    position: absolute;
    margin: 2% 0;
}


.callout {
    width: 100%;
}

.green-section {
    width: 600px;
    margin: 60px auto 0px;
    height: 65px;
    background-color: #4fc325;
    display: table;

}

.green-section .tr {
    display: table-row;
}

.green-section .td {
    display: table-cell;
}

.green-section div {
    /*height: 18%;*/
    color: white;
    font-family: "Gotham Book";
}

.app-headline {
        font-family: "Gotham Bold" ,'Poppins';
    /* font-size: 30px;*/
    font-weight: bold;
    /*margin: 30px 0 5px;*/
}

.green-section #heads-up {
    font-size: 30px;
    font-style: italic;
    /* padding: 1% 4%;*/
    text-transform: uppercase;
    width: 35%;
    text-align: center;
    vertical-align: middle;
    padding: 0% 3%;
    /*border-right: 5px solid white;*/
    font-family: "Gotham Bold" ,'Poppins';
}

.green-section #dg-app-callout {
    font-size: 18px;
    /*padding: 1.5% 2%;*/
   padding: 1.5% 3%;
    text-align: left;
    vertical-align: middle;

}

.page-banner {
    /*background-color: #4fc325;*/
    /* float: left;*/
}

.social-media {
    position: relative;
    left: 25px;
}

.container-fluid {
    max-width: 1440px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.page-main {
    max-width: 1440px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#add-app-desktop {
    position: absolute;
    font-size: 25px;
    margin-top: 10%;
    line-height: 1;

}

#add-app-desktop #first-app-img {
    padding-right: 10%;
}

#add-app-desktop strong {
    /*margin-bottom: 10px;*/
    font-family: "Gotham Bold" ,'Poppins';
}

/*#add-app-desktop img {
    width: 150px;
}*/
.add-app-logo {
    width: 160px;
    height: 50px;
    margin: 10px;
}

#add-app-desktop .add-app-logo {
    width: 160px;
    margin: 10px 10px 10px 0px;
    /* margin-top: 10%; */
    height: auto;
    /* margin-top: 10%;*/
}

#add-app-desktop #first-element {

    margin-top: 10%;
}

#add-app-mobile {
    font-size: 30px;
    margin: 30px 0 5px;
}

/*.container-fluid div {
    position: relative;
}*/

/* desktop styles */
.mobile {
    display: none;
}

.desktop {
    display: block;
}

.headline p {
    font-family: 'Poppins', sans-serif !important;
    font-size: 42px;
    line-height: 36px;
}

h4 {
    font-family: 'Poppins', sans-serif !important;
    color: #121212;
}

.header-logo {
    display: inline-block;
    width: 80px;
    float: left;
    margin-right: 5px;
}

.sub-head-text-container strong {
    font-family: "Gotham Bold" ,'Poppins';
}

.icon {
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 60px;
}

.headline {
    margin-top: 60px;
    margin-bottom: 30px;
    text-transform: uppercase;
}


.content-app {
    /*font-family: 'Poppins', sans-serif !important;*/
    font-family: "Gotham Book";
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 1.8;
    font-size: 16px;
}

.inline-img {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 50px;
}


.remove-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.logo-block {
    padding: 5px;
}

/*.logo-block img {
    display: block;
    margin: 0 auto;
        width: 160px;
    height: 50px;
}*/

@media only screen and (max-width : 1300px) {
    .hero-live-text-p1 #line-1 {
        font-size: 5.2rem;
    }

    .hero-live-text-p1 #line-2 {
        font-size: 7.2rem;
    }
}

@media only screen and (max-width : 1200px) {
    .hero-live-text-p1 #line-1 {
        font-size: 5rem;
    }

    .hero-live-text-p1 #line-2 {
        font-size: 7rem;
    }

    .hero-live-text-p2 {
        right: 4%;
        width: 200px;
    }

    .sub-head-text-container,
    #add-app-desktop {
        font-size: 20px;
    }

    #add-app-desktop .add-app-logo {
        width: 130px;
    }
}

@media only screen and (max-width : 1030px) {
    .hero-live-text-p1 #line-1 {
        font-size: 4.7rem;
    }

    .hero-live-text-p1 #line-2 {
        font-size: 6.7rem;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .hero-live-text-p1 #line-1 {
        font-size: 3.3rem;
    }

    .hero-live-text-p1 #line-2 {
        font-size: 5.3rem;
    }

    .hero-live-text-p2 {
        /*right: 3.5%;*/
        width: 175px;
        right: 2.5%;
    }

    #add-app-desktop {
        margin-top: 4%;
    }

    .sub-head-text-container,
    #add-app-desktop {
        font-size: 16px;
    }

    .sub-head-text-container {
        width: 180px;
    }

    #add-app-desktop #first-element {
        margin-top: 5%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .hero-live-text-p1 {
        top: 17%;
        left: 10%;
        font-size: 3.3rem;
    }

    .hero-live-text-p2 {
        right: 0%;
        left: 10%;
        top: 42%;
        /*width: 175px;*/
    }

    .sub-head-text-container {
        font-size: 20px;
    }

    .green-section {
        width: 97%;
        margin: 0px auto 0px;

    }

    .inline-img {
        margin-bottom: 40px;
    }

    .green-section #heads-up {
        font-size: 30px;
    }

}

/* mobile styles */

@media screen and (min-width: 300px) and (max-width:768px) {

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .content-app {
        margin-bottom: 30px;
    }

    .remove-mob-padding {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .content-app p {
        font-family: 'Poppins', sans-serif !important;
        width: 60%;
        margin: 0 auto;
        font-size: 16px;
    }

    .headline p {
        font-size: 36px;
    }


}

@media only screen and (max-width : 560px) {
    .hero-live-text-p1 {
        left: 8%;
    }

    .hero-live-text-p2 {
        left: 8%;
    }

    .hero-live-text-p1 #line-2 {
        font-size: 4.4rem;
    }

    .green-section #heads-up {
        font-size: 25px;
    }

    .green-section #dg-app-callout {
        font-size: 16px;
    }

}

@media only screen and (max-width : 500px) {
    .hero-live-text-p1 #line-1 {
        font-size: 2.7rem;
    }

    .hero-live-text-p1 #line-2 {
        font-size: 3.5rem;
    }

    .sub-head-text-container {
        font-size: 16px;
        width: 150px;
    }

    #add-app-mobile {
        font-size: 25px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .hero-live-text-p1 {
        left: 6%;
    }

    .hero-live-text-p2 {
        left: 6%;
    }

    .hero-live-text-p1 #line-1 {
        font-size: 2.3rem;
    }

    .hero-live-text-p1 #line-2 {
        font-size: 3rem;
    }

    /*.sub-head-text-container{
        font-size: 16px;
        width: 150px;
    }*/
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}
